<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="crossbrowsing">
  	<classes>
		<class name="Automation.Testscripts.LoginTest"/>
		<class name="Automation.Testscripts.HomePageTest"/>
   		
    </classes>  
 </test> <!-- Test -->
</suite> <!-- Suite -->
